*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display:flex;
    height: 100vh;
    background-color: #F9FAFC;
}
.right-side{
    flex: 1;
}
.left-side{
    width:240px;
    background-color: #ffffff;
    border-right:1px solid #EAEAEA;
}

.left-side .title{
display:flex;
align-items: center;
padding: 20px;
gap: 12px;
border-bottom:2px solid #EAEAEA;

}

.title p{
    font-size: 12px;
    color: #9B9D9D;
}

.title h2{
    font-size: 18px;
}

.side-bar{
    padding: 0 10px;
}

.side-bar ul{
list-style-type: none;
padding-top: 15px;
}

li{
    padding:15px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap:12px;
}

.active-sidebar{
    color: #5F87BF;
    background-color: #F0F5FF;
}

li:hover{
    color: #5F87BF; 
    background-color: #F0F5FF;
}

.header{
    background-color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 15px;
    width: 300px;
    gap: 10px;
    color: #999;
}

.search input{
    border: none;
    outline: none;
    width: 100%;
}

.notfication{
    cursor: pointer;
}

.search-notfication{
display: flex;
align-items: center;
gap: 20px;
}


#menu-btn {
    display: none; 
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px; 
}

#close-btn {
    display: none;
}

@media (max-width: 768px) {

    #menu-btn {
        display: block;
    }
    .left-side {
        display: none; 
        position: fixed; 
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        z-index: 1000;
        background-color: #fff; 
        box-shadow: 2px 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
    }
    .left-side.active {
        display: flex; 
    }
    #close-btn {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
        font-size: 25px;
        color: #5A5A5A;
        cursor: pointer;
        z-index: 1001;
    }
    .search {
        width: 180px;
    }
    
    .header .title h2 {
        font-size: 16px; 
    }
    
    .header .title p {
        display: none; 
    }
}
@media (max-width: 480px) {
    .search {
        display: none; 
    }
}


